.DS_Store
.idea/
*.debug
*.warn
bot-venv/

dataset*

classifier/*
!classifier/classifier_prediction.py

bot/*
!bot/bot.py

preprocess_img/__pycache__/

Collab_notebook/

test_one_img.py
image_transformer.py