.DS_Store
.idea/
*.debug
*.warn
*__pycache__
bot-venv/
venv-flask/

*dataset*

*checkpoints*

train-plots*

bot/*
!bot/bot.py
!bot/archstyles_weblinks.txt
!bot/__init__.py

*.ipynb
*.log
*.debug
*.warn

test_one_img.py
image_transformer.py