.DS_Store
.idea/
*.debug
*.warn
*__pycache__
bot-venv/

dataset*

classifier/checkpoints/*

train-plots*

bot/*
!bot/bot.py
!bot/archstyles_weblinks.txt
!bot/__init__.py

*.ipynb

test_one_img.py
image_transformer.py